.skills {
  background-color: lightblue !important;
}

.skills-icon {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
  z-index: -1;
  height: 100%;
  width: 150px;
  gap: 2em;
}

.skills-icon-button {
  width: 100%;
  height: 150px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease;
  animation-name: scale-in-center;
  animation-duration: 250ms;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.skills-icon-button.default:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}

.skills-icon ul {
  list-style: none;
}

.screen-active {
  animation-name: scale-out-center;
  animation-duration: 250ms;
  opacity: 0;
  visibility: hidden;
}

.screen-shown {
  cursor: pointer;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

.nav-button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 60px;
}

.sidemenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 1 / 3;
}

.skills-info {
  grid-column: 3 / 7;
}

@media screen and (max-width: 1030px) {
  .container.skills {
    margin: 0 auto;
    padding: 0 3rem;
  }

  .skills {
    height: calc(100vh - 100px);
  }

  .skills-icon {
    position: static;
  }
}

@media screen and (max-width: 700px) {
  .skills-icon {
    position: fixed;
    margin-left: 0;
    margin-top: 200px;
  }

  .container.skills {
    padding: 0 !important;
    margin: 0 !important;
  }
}
