.ux-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4em;
  width: 100%;
  height: 100%;
}

.ux-content ul li {
  list-style: none;
  font-size: 1.5em;
  font-weight: 300;
}

.ux-content h2 {
  margin: 10px;
}

.ux-content-left {
  text-align: center;
}

.ux-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ux-card {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 21px -6px #000000;
  box-shadow: 5px 5px 21px -6px #000000;
  position: relative;
  z-index: 5;
  overflow: hidden;
  transition: transform 500ms ease;
}

.ux-card::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("https://choicespecs-website.s3.us-east-2.amazonaws.com/UX+Website+picture.png")
    center center;
  background-size: cover;
  opacity: 0.25;
  transition: opacity 500ms ease;
}

.ux-card-content {
  position: absolute;
  width: 100%;
  height: 70%;
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.6) 20%,
    hsl(0 0% 0% / 1)
  );
}

.ux-card-content-title {
  margin: 0.5em 0;
  position: relative;
  width: max-content;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 0.25em;
  transition: all 500ms linear;
}

@media (hover: none) {
  .ux-card-content {
    transform: translateY(50%);
  }
}

@media (hover: hover) {
  .ux-card:hover .ux-card-content-title {
    background-color: var(--yellow-color);
  }

  .ux-card:hover .ux-card-content {
    transform: translateY(50%);
    transition-delay: 500ms;
  }

  .ux-card-content {
    transform: translateY(110%);
    transition: transform 500ms ease;
  }

  .ux-card::before {
    opacity: 1;
  }

  .ux-card:hover:before {
    opacity: 0.25;
  }
}

.ux-card-content-body {
  color: rgb(255 255 255 / 0.85);
}

@media screen and (max-width: 1030px) {
  .ux-content {
    flex-direction: column;
    gap: 2em;
  }

  .ux-content-left ul {
    display: flex;
    gap: 1em;
  }
}
