---

---

<style>
    #contact {
        margin: 4em auto;
        width: 80%;
        scroll-margin-top: 100px;
    }

    .contact-info-wrapper {
        margin: 0 auto;
        width: 80%;
    }

    .contact-info-title {
        padding: 1em;
        text-align: center;
        letter-spacing: 1.5px;
        border-bottom: 1px solid black;
    }

    .contact-info-wrapper p {
        padding: 2em;
        line-height: 1.3;
        font-size: 18px;
    }

    .contact-form-wrapper {
        margin: 0 auto;
        width: 90%;
    }

    form button {
        color: black;
        cursor: pointer;
        width: 50%;
        height: 50px;
        border: none;
        line-weight: 300;
        letter-spacing: 2px;
        font-size: 14px;
        background-color: var(--button-color);
    }

    input,
    textarea {
        letter-spacing: 2px;
        padding: 1em;
        border: none;
        background-color: rgba(109, 109, 109, 0.3);
    }

    .contact-form-wrapper form {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    @media screen and (min-width: 941px) {
        #contact {
            display: flex;
            flex-direction: row;
            gap: 2em;
            margin-top: 600px;
            margin-bottom: 300px;
        }

        .contact-info-wrapper,
        .contact-form-wrapper {
            padding: 2em;
            width: 50%;
            height: 100%;
        }
    }

    @media screen and (min-width: 1200px) {

        .contact-info-wrapper,
        .contact-form-wrapper {
            padding: 4em;
        }
    }

    @media screen and (min-width: 1500px) {

        .contact-info-wrapper,
        .contact-form-wrapper {
            padding: 8em;
        }
    }
</style>

<section id="contact">
    <div class="contact-info-wrapper">
        <h1 class="contact-info-title">Contact Me</h1>
        <p>If you have any questions or want to know more about me feel free to reach me.</p>
    </div>
    <div class="contact-form-wrapper">
        <form action="https://formspree.io/f/myylnqlg" class="contact-form" method="POST" id="my-form">
            <input type="text" placeholder="Full name" name="name" required />
            <input type="email" placeholder="Email address" name="email" required />
            <textarea rows={7} placeholder="Message" name="message" required></textarea>
            <button type="submit">
                Send Message
            </button>
        </form>
        <div id="my-form-status"></div>
    </div>
</section>