.section-head-large span {
  text-transform: none;
  color: crimson;
}

.about-me-intro {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.intro-picture {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
  width: auto;
  cursor: pointer;
  flex-basis: 50%;
  padding: 5rem;
}

.intro-picture a {
  height: inherit;
  width: inherit;
}

.intro-description {
  flex: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* doing not(:last child) will set all paragraphs instead of the last and will make
it easier to create margins in between */
.intro-description p:not(:last-child) {
  margin-bottom: 2rem;
}

.intro-description p span {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--dark-color);
  font-size: 1.5em;
  letter-spacing: 1px;
}

.call-to-action {
  background-color: var(--yellow-color);
  margin-top: 5rem;
  padding: 3rem;
  color: var(--dark-color);
}

.call-to-action p {
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.button-mobile {
  display: none;
}

.button-mobile .cta-btn {
  background-color: var(--yellow-color);
}

.call-to-action.smaller {
  display: none;
}

@media screen and (max-width: 1030px) {
  .about-me-intro {
    margin-top: 100px;
    flex-direction: column;
  }

  .intro-picture {
    flex-direction: row;
    padding: 0;
  }

  .button-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .call-to-action.desktop {
    display: none;
  }

  .call-to-action.desktop > * {
    display: none;
  }
}
