/*Base styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font-size: 1.6rem;
  --body-font-color: #5f5f5f;
  --body-font-family: "Open Sans", sans-serif;
  --heading-font-family: "Playfair Display", sans-serif;
  --light-color: #f4f4f4;
  --dark-color: #262626;
  --light-gray-color: #f2f3f7;
  --orange-color: #ec5453;
  --blue-color: #2c98f0;
  --yellow-color: #f9bf3f;
  --purple-color: #a84cb8;
  --dark-blue-color: #4054b2;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--body-font-family);
  color: var(--body-font-color);
  font-size: var(--body-font-size);
}

main {
  min-height: 100%;
  display: grid;
  grid-template: "main";
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: white;
}

* {
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
}

a {
  color: DodgerBlue;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em 0;
  margin: 0 1em;
  border-bottom: 2px solid transparent;
}

/* a.router-link-exact-active {
  border-color: inherit;
}
*/

main {
  min-height: 100%;
  display: grid;
  grid-template: "main";
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: white;
}

main > * {
  grid-area: main; /* Transition: make sections overlap on same cell */
  flex: 1 1 auto;
  background-color: white;
  position: relative;
  height: 100vh; /* To be fixed */
}

main > :first-child {
  z-index: 1; /* Prevent flickering on first frame when transition classes not added yet */
}

/* Transitions */
.next-exit-active {
  animation: leaveToLeft 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}

.next-enter-active {
  animation: enterFromRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.prev-exit-active {
  animation: leaveToRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.prev-enter-active {
  animation: enterFromLeft 3000ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}

@keyframes leaveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
}

@keyframes enterFromLeft {
  from {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes leaveToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes enterFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

a {
  display: block;
  text-decoration: none;
}

/* navigation */
.hamburger-menu {
  display: none;
}

section {
  /* since navbar is 26rem we should move it appropriately with calc */
  width: calc(100% - 26rem);
  height: 100vh;
  /* move over with translateX with width */
  margin-left: 26rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.heading-group {
  color: var(--dark-color);
  margin-bottom: 5rem;
}

.section-head-small {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.section-head-large {
  font-size: 1.8rem;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.btn {
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 3rem;
  display: inline-block;
  transition: background-color 0.5s;
}

.cta-btn {
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.cta-btn:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
}

@media screen and (max-width: 1030px) {
  section {
    margin-left: 0;
    margin-top: 100px;
    height: calc(100% - 100px);
    width: 100%;
  }

  #contact {
    height: calc(100vh - 100px);
  }
}
