---
import '../styles/global.css';
---

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Choice Specs Design | Developer" />
    <meta property="og:type" content="website" />
    <meta property="og:type" content="https://www.choicespecs.com" />
    <meta property="og:image" content="https://choicespecs-website.s3.us-east-2.amazonaws.com/Choice+Specs+Logo.png" />
    <meta property="og:image:alt" content="Website Logo" />
    <meta property="og:description"
        content="Portfolio Website showcasing my work in Web Design, Software Development, and other projects" />
    <meta name="description" content="Choice Specs v3.0 Full Stack Developer & Software Engineer" />
    <title>Choice Specs | Portfolio</title>
</head>

<body>
    <slot />
</body>

</html>